/*GLOBAL*/
*{ 
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
}
p{
    margin: 0;
    font-weight: 500;
    color: #fff; 
    font-size: 1.15rem;
}
h2, .uppercase{
    text-transform: uppercase;
}
.uppercase{
    font-weight: bold;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.color{
   color: #022a44;
   font-size: 1.25rem;
}
.size{
    font-weight: 700;
}

/*NAVIGATION*/
.navbar-light .navbar-brand, .btn-yellow, .btn-sm-yellow{
    text-transform: capitalize;
    color: #f6ee98;
    font-family: 'Bauhaus 93',Arial, Helvetica, sans-serif;
}
.navbar-light .navbar-brand{
    font-size: 2.5rem;
}
.btn-sm-yellow{
    font-size: 1.5rem;
}
.navbar-light .navbar-brand:hover{
    color: #eee8a9;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
    text-transform: uppercase;
    font-family: 'Arial black';
    border-bottom: 2px solid #fff;
    color: #ddd;
}
.navbar-light .navbar-nav .nav-link{
    margin-left: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-toggler{
    border: 2px solid transparent;
}
.btn-outline-warning, .btn-outline-warning:hover{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.9rem;
}
.btn-outline-warning, footer [type="submit"]{
    color: #000;
    border-color: #f6ee98;
    background-color: #fdc316;
}
.btn-outline-warning:hover, .btn-warning:hover, footer [type="submit"]:hover{
    text-transform: uppercase;
    border-radius: 1.25rem;
    border-color: #ffc107;
    background-color: #0452c7;    
    color: #fff;
}

/*CAROUSEL*/
.carousel{
    border-bottom: 1px solid #0452c7;
}
.carousel-caption {
    background-color: rgba(83, 117, 226, 0.4);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 6rem;
}
img{
    max-height: 31.25rem !important;
}
.carousel-caption .btn-warning, footer [type="submit"]{
    font-weight: bold;
    border-radius: 10px;
    color: #222;
    
}
.carousel-caption .btn-warning:hover, footer [type="submit"]:hover{
    color: #fff;
}

/*ABOUT*/
.about{
    font-size: 1.6rem;
}

/*FAQ*/
.faq{
    background-color: #f4f4f4;
}

/*COURSE*/
.course a{
    color: #fff;
}

/*FOOTER*/
footer .color{
    text-shadow: 0 0 15px #d1b56c;
}
footer li{
    display: inline-block;
}
footer a{
    color: #fff;
    font-size: 18px;
}
footer a:hover{
    color: #f6ee98;
}
